body {
    font-family: 'Nunito', sans-serif;
}

input {
    text-align: center;
}

/* ANIMAÇÃO DA SETA */

/* NAVBAR */

.logo-sig {
    width: 17rem;
    height: auto;
    padding-left: 20%;
}

.navbar-nav {
    padding-right: 5%;
}

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}

.red-borderbottom {
    border-bottom: 5px solid red;
}

.nav-link {
    font-size: 1.2em;
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: red;
}

/* PROPOSTA */

#proposta {
    background-image: url("/assets/img/background-parceria-1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 100vh;
    height: auto;
}

.proposta-main {
    padding-top: 10%;
}

.proposta-text {
    font-size: 2.5rem;
    margin-left: 5%;
    color: white;
    font-weight: 100;
}

.proposta-text strong {
    font-weight: 800;
}

.proposta-form {
    border: 1px solid white;
    padding: 5% 10%;
    border-radius: 20px;
    box-sizing: content-box;
}

.btn-proposal {
    margin-left: 15px;
    border-radius: 50px;
    font-size: 0.9rem;
}

#seta {
    width: auto;
    height: 60px;
    animation: pulse 1.5s linear 5;
    animation-direction: alternate;
}

.seta a {
    color: transparent;
}

/* ANIMAÇÃO DA SETA */

@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        
    }
}