body {
    font-family: 'Nunito', sans-serif;
}

/* NAVBAR */

.logo-sig {
    width: 17rem;
    height: auto;
    margin-left: 20%;
}

.navbar-nav {
    margin-right: 5%;
}

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}

.red-borderbottom {
    border-bottom: 5px solid red;
}

.nav-link {
    font-size: 1.5em;
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: red;
}

/* PROPOSTA */

.proposta-main {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}

.proposta-text {
    font-size: 2.5rem;
}

