body {
    font-family: 'Nunito', sans-serif;
}

input {
    text-align: center;
}

/* ANIMAÇÃO DA SETA */

/* NAVBAR */

.logo-sig {
    width: 17rem;
    height: auto;
    padding-left: 20%;
}

.navbar-nav {
    padding-right: 5%;
}

.ml-5, .mx-5 {
    margin-left: 5rem!important;
}

.mr-5, .mx-5 {
    margin-right: 5rem!important;
}

.red-borderbottom {
    border-bottom: 5px solid red;
}

.nav-link {
    font-size: 1.2em;
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
    color: red;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: red;
}

/* PROPOSTA */

#proposta {
    background-image: url("/assets/img/background-parceria-1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 100vh;
    height: auto;
}

.proposta-main {
    margin-top: 15%;
}

.proposta-text {
    font-size: 2.5rem;
    margin-left: 5%;
    color: white;
    font-weight: 300;
}

.proposta-text strong {
    font-weight: 800;
}

.proposta-form {
    border: 1px solid white;
    padding: 5% 10%;
    border-radius: 20px;
    box-sizing: content-box;
}

.btn-proposal {
    margin-left: 15px;
    border-radius: 50px;
    font-size: 0.9rem;
}

#seta {
    width: auto;
    height: 60px;
    animation: pulse 1.5s linear 5;
    animation-direction: alternate;
}

.seta a {
    color: transparent;
}

/* ANIMAÇÃO DA SETA */

@keyframes pulse {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/* MERCADO */

#mercado {
    background-image: url("/assets/img/background-parceria-2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 100vh;
    height: auto;
    color: white
}

.mercado-main {
    margin-top: 18%;
    color: white;
}

.mercado-txt1 p {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

.mercado-txt1 strong {
    font-weight: 800;
}

.mercado-txt2 p:nth-child(1) {
    font-size: 8rem;
    font-size: 900;
    margin-bottom: 0;
}

.mercado-txt2 p:nth-child(2) {
    font-size: 2.2rem;
    font-weight: 300;
    background-color: red;
}

/* E-COMMERCE */

#ecommerce {
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    min-height: 100vh;
    height: auto;
}

.ecommerce-main {
    margin-top: 10%;
}

.ecommerce-img {
    width: auto;
    height: 480px;
}

.ecommerce-txt p {
    display: flex;
    margin: 1px;
    padding: 0;
}

.ecommerce-txt1 hr {
    border-width: 2px;
    border-color: black;
    width: 615px;
}

.ecommerce-txt1 {
    font-size: 2rem;
    font-weight: 300;
}

.ecommerce-txt1 strong {
    font-weight: 800;
    font-size: 2.5rem;
}

.ecommerce-txt2 {
    font-size: 1.2rem;
    font-weight: 300;
}

/* SISTEMA */

#sistema {
    background-image: url("/assets/img/background-parceria-3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    min-height: 100vh;
    height: auto;
    color: white;
}

.sistema-main {
    margin-top: 8%;
}

.sistema-img {
    width: auto;
    height: 450px;
}

.sistema-main-txt {
    padding-top: 2%;
    padding-left: 8%;
}

.sistema-main-title {
    font-size: 2.2rem;
    font-weight: 300;
}

.sistema-main-title strong {
    font-weight: 800;
}

.sistema-main-list ul li strong {
    font-weight: 800;
}

.sistema-form {
    border: 1px solid white;
    padding: 1%;
    border-radius: 20px;
    box-sizing: content-box;
}

.awesomplete {
    display: block;
}